.bookmark-list__page
  %h1.bookmark-list__heading
    Your bookmarks
    %button#foo.btn.pull-right.btn-default Add

  = simple_form_for @new_bookmark, html: { class: 'bookmark-form--new' } do |f|
    %h2 New bookmark
    = f.input :title
    = f.input :url
    = f.input :shortening

    = f.button :submit, class: 'form-submit'


  %ul.bookmark-list
    = render @bookmarks
