.bookmark-list__page
  %h1.bookmark-list__heading Your bookmarks

  = simple_form_for @new_bookmark, html: { class: 'bookmark-form--new' } do |f|
    %h2 New bookmark
    = f.input :title
    = f.input :url
    = f.input :shortening

    = f.button :submit, class: 'form-submit'


  %ul.bookmark-list
    = render @bookmarks


-# %h1 Add bookmark
-# #bookmark-new-form
-#   = render 'form', bookmark: @new_bookmark
