.bookmark-list__page
  %h1.bookmark-list__heading
    Your bookmarks
    %button.bookmark-add-btn= fa_icon('plus')

  = simple_form_for @new_bookmark, html: { class: ['bookmark-form--new', ('active' if @new_bookmark.errors.any?)] } do |f|
    %h2 New bookmark

    = f.input :title
    = f.input :url
    = f.input :shortening

    .form-btn-group
      = f.button :submit, class: 'form-submit'
      %button.form-cancel{type: 'button'} Cancel


  %ul.bookmark-list
    = render @bookmarks
